* {
  font-size: 1em;
  color: #141414;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url(../fonts/Montserrat-Light.ttf);
}
@font-face {
  font-family: 'Jost-Bold';
  src: url(../fonts/Jost-Bold.ttf);
}
.container {
  max-width: 1400px;
  padding: 0px 20px;
  margin: 0px auto;
}
.main-btn {
  width: 350px;
  height: 60px;
  background: #1F2671;
  color: #fff;
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.125em;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
h3 {
  text-align: center;
  font-size: 3em;
  font-family: 'Jost-Bold', sans-serif;
  font-weight: normal;
  line-height: 100%;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: 0.5s all linear;
  background: #1F2671;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.header__wrapper {
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s all linear;
}
.header__menu-dotted {
  width: 30px;
  height: 30px;
  margin: 20px auto;
  position: relative;
  cursor: pointer;
  transition: 0.1s all linear;
}
.header__menu-dotted span {
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  transition: all 0.2s linear;
}
.header__menu-dotted span:nth-child(1) {
  top: 0;
  left: 0;
}
.header__menu-dotted span:nth-child(2) {
  top: 0;
  left: 12px;
}
.header__menu-dotted span:nth-child(3) {
  top: 0;
  right: 0px;
}
.header__menu-dotted span:nth-child(4) {
  top: 12px;
  left: 0;
}
.header__menu-dotted span:nth-child(5) {
  top: 12px;
  left: 12px;
}
.header__menu-dotted span:nth-child(6) {
  top: 12px;
  right: 0;
}
.header__menu-dotted span:nth-child(7) {
  bottom: 0;
  left: 0;
}
.header__menu-dotted span:nth-child(8) {
  bottom: 0;
  left: 12px;
}
.header__menu-dotted span:nth-child(9) {
  bottom: 0;
  right: 0;
}
.header__menu-dotted:hover span {
  transform: scale(1.2);
}
.header__menu .icon-open {
  transform: rotate(90deg);
}
.header__menu .icon-open span:nth-child(2) {
  top: 6px;
  left: 6px;
}
.header__menu .icon-open span:nth-child(4) {
  top: 18px;
  left: 6px;
}
.header__menu .icon-open span:nth-child(6) {
  right: 6px;
  top: 6px;
}
.header__menu .icon-open span:nth-child(8) {
  left: 18px;
  bottom: 6px;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo a {
  display: flex;
  align-items: center;
}
.header__logo svg {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}
.header__logo span {
  display: block;
  text-transform: uppercase;
  font-family: 'Jost-Bold', sans-serif;
  font-weight: normal;
  line-height: 100%;
  color: #fff;
  font-size: 2em;
}
.header__buttons {
  position: relative;
}
.header__buttons a svg {
  max-width: 30px;
  max-height: 30px;
}
.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 500px;
  background: #fff;
  padding: 200px 50px;
  box-shadow: 4px 0px 20px rgba(0, 0, 0, 0.1);
  z-index: 50;
  transform: translateX(-110%);
  transition: 0.5s all linear;
}
.menu ul li {
  margin: 20px 0px;
}
.menu ul li a {
  font-size: 1.75em;
}
.menu-show {
  transform: translateX(0%);
}
.main {
  min-height: 950px;
  background-image: url(../img/banner-overlay.png), url(../img/banner-bg.png), url(../img/main-bg.png);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: contain, contain, cover;
  background-position: center bottom, center bottom, center;
}
.main__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 200px;
}
.main__wrapper h1 {
  font-size: 5em;
  font-family: 'Jost-Bold', sans-serif;
  font-weight: normal;
  line-height: 100%;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.main__wrapper h2 {
  font-size: 2.5em;
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: normal;
  color: #fff;
  margin-bottom: 20px;
}
.main__wrapper h2 span {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: normal;
  color: #fff;
}
.calc {
  background: #fff;
  max-width: 700px;
  padding: 50px;
  border-radius: 20px;
  margin: 50px auto;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1), -4px -4px 20px rgba(0, 0, 0, 0.1);
}
.calc h4 {
  font-size: 2em;
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: normal;
  text-align: center;
  margin-bottom: 30px;
}
.calc h5 {
  font-size: 1.25em;
  margin-bottom: 10px;
}
.calc ul.calc_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.calc ul.calc_nav li {
  padding: 7px 15px;
  border: 2px solid #1F2671;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s all linear;
}
.calc input {
  min-width: 100%;
  padding: 15px 30px;
  border: 2px solid #1F2671;
  border-radius: 20px;
  outline: none;
  font-size: 1.25em;
}
.calc__message {
  display: block;
  margin: 10px auto 50px auto;
  text-align: center;
  font-size: 14px;
}
.calc__info {
  border: 1px solid #f4f4f4;
  border-radius: 20px;
}
.calc span.calc__text {
  display: block;
  font-size: 1.125em;
  padding: 20px 30px;
  border-bottom: 1px solid #f4f4f4;
}
.calc span.calc__text:nth-child(3),
.calc .calc_all {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: normal;
  border-bottom: none;
}
.calc .main-btn {
  margin: 20px auto 0px auto;
}
.calc span.trigger {
  font-size: 12px;
  display: block;
  margin: 10px 0px;
  text-align: center;
}
.check {
  background: #1F2671;
  color: #fff;
}
.input-error {
  border: 2px solid red !important;
  animation: error 0.1s linear;
}
.message-error {
  color: red;
}
@keyframes error {
  0% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(2px);
  }
}
.manual {
  padding: 100px 0px;
}
.manual__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 0px;
  max-width: 900px;
  margin: 0px auto;
}
.manual__item {
  position: relative;
  text-align: center;
}
.manual__item-img {
  display: inline-block;
  margin: 0px auto;
  padding: 50px;
  border-radius: 50%;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1), -4px -4px 20px rgba(0, 0, 0, 0.1);
}
.manual__item .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 1.5em;
  border-radius: 50%;
}
.manual__item .circle-first {
  background: #E0FFF9;
}
.manual__item .circle-second {
  background: #E5DBFF;
}
.manual__item .circle-third {
  background: #E2FFDD;
}
.manual__item .manual__header {
  display: block;
  text-align: center;
  margin-top: 30px;
  font-size: 1.5em;
}
.manual__item:nth-child(2):before,
.manual__item:nth-child(2)::after {
  content: '';
  width: 150px;
  height: 80px;
  background: url(../img/icons/arrow_manual.png) no-repeat center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.manual__item:nth-child(2):before {
  left: -130px;
}
.manual__item:nth-child(2):after {
  right: -130px;
  transform: translateY(-50%) scale(1, -1);
}
.manual__button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.table {
  padding: 100px 0px;
  background: #fafafa;
}
.table__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  border-radius: 20px;
  border: 1px solid #f4f4f4;
  max-width: 900px;
  margin: 50px auto 50px auto;
  background: #fff;
  overflow: hidden;
}
.table__row {
  display: grid;
  align-items: center;
  grid-template-columns: 20% 20% 40% 20%;
  padding: 20px 30px;
  border-bottom: 1px solid #f4f4f4;
}
.table__row div {
  text-align: center;
}
.table__row .table__item:nth-child(4) {
  display: grid;
  flex-direction: column;
}
.table__row:nth-child(1) {
  background: #1F2671;
}
.table__row:nth-child(1) span {
  color: #fff;
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: normal;
  font-size: 1.125em;
  text-align: center;
  border-right: 2px solid #fff;
}
.table__row:nth-child(1) span:nth-child(4) {
  border-right: none;
}
.table__process {
  display: flex;
  flex-direction: column;
}
.table__process-text {
  font-size: 0.875em;
  margin-bottom: 10px;
}
.table__process-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.table__process-icons .icon {
  width: 16px;
  height: 16px;
  border: 3px solid #1F2671;
  background: #1F2671;
  margin: 0px 4px;
  border-radius: 50%;
  animation: processAnimate 1s infinite;
}
.table__process-icons .icon-success {
  width: 16px;
  height: 16px;
  background: url(../img/icons/greencircle.svg) no-repeat center;
  background-size: cover;
  margin: 0px 4px;
  border-radius: 50%;
}
.table__process-icons .icon-stop {
  animation: none;
}
.table__button {
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes processAnimate {
  from {
    background: #1F2671;
  }
  to {
    background: #fff;
  }
}
.adv {
  padding: 80px 0px;
}
.adv__wrapper {
  padding: 50px 0px;
  max-width: 1000px;
  margin: 0px auto;
  display: grid;
  grid-row-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}
.adv__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.adv__item span.big {
  font-size: 3em;
  color: #1F2671;
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: normal;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.adv__item span.big span {
  margin: 0px 10px;
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: normal;
  color: #1F2671;
}
.adv__button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.feedback {
  padding: 80px 0px;
  background: #fafafa;
}
.feedback .swiper {
  padding: 50px 0px 80px 0px;
}
.feedback .swiper .swiper-prev,
.feedback .swiper .swiper-next {
  width: 50px;
  height: 50px;
  background: #1F2671 url(../img/icons/arrow.svg) no-repeat center;
  background-size: 20px 20px;
  position: absolute;
  bottom: 0px;
  right: 0;
  border-radius: 20px;
  cursor: pointer;
}
.feedback .swiper .swiper-prev {
  right: 60px;
  transform: rotate(180deg);
}
.feedback__item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 50% 30%;
  align-items: center;
  border-radius: 20px;
  background: #fff;
  min-height: 280px;
  border: 1px solid #f4f4f4;
}
.feedback__item span.text {
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
  display: flex;
  align-items: center;
  min-height: 100%;
  padding: 0px 50px;
}
.feedback__person {
  padding: 0px 50px;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 60% 40%;
  min-height: 100%;
  align-items: center;
}
.feedback__person img {
  display: block;
  max-width: 60px;
  border-radius: 50%;
  grid-row-start: span 2;
}
.feedback__person span.name {
  display: block;
  padding-top: 10px;
  font-size: 1.125em;
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: normal;
}
.feedback__person span.money {
  padding-bottom: 10px;
}
.feedback__stars {
  display: flex;
  align-items: center;
  min-height: 100%;
  padding: 0px 50px;
}
.feedback__stars .star {
  width: 20px;
  height: 20px;
  background: url(../img/icons/star.svg) no-repeat center;
  background-size: cover;
  margin-right: 10px;
}
.info {
  padding-bottom: 80px;
  background: #fafafa;
}
.info span.info-bold {
  display: block;
  font-size: 14px;
  margin: 20px 0px 10px 0px;
}
.info p {
  font-size: 12px;
  color: #c4c4c4;
}
.footer {
  background: #1F2671;
  padding: 30px 0px;
}
.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__wrapper a {
  color: #fff;
  font-size: 14px;
}
.footer__wrapper span.copyright {
  font-size: 14px;
  color: #fff;
}
.form__main {
  padding: 200px 0px;
  background-image: url(../img/banner-overlay.png), url(../img/main-bg.png);
  background-repeat: no-repeat, no-repeat;
  background-size: contain, cover;
  background-position: center bottom, center;
}
.form__main h3 {
  color: #fff;
  max-width: 750px;
  margin: 0px auto 50px auto;
  text-transform: uppercase;
}
.form__wrapper form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 80px;
}
.form__inputs {
  background: #fff;
  padding: 50px 80px;
  border-radius: 20px;
  min-width: 45%;
  grid-row-start: span 2;
}
.form__inputs h4 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 30px;
}
.form__inputs-item {
  padding: 10px 0px;
  position: relative;
}
.form__inputs-item span.safe {
  display: block;
  padding-left: 30px;
  color: #1F2671;
}
.form__inputs-item span.safe:before {
  content: '';
  width: 20px;
  height: 20px;
  background: url(../img/icons/purplesafe.svg) no-repeat center;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.form__inputs-item label {
  display: block;
  font-size: 1.125em;
  margin-bottom: 10px;
}
.form__inputs-item input {
  padding: 15px 40px 15px 40px;
  border: 2px solid #1F2671;
  border-radius: 0px 20px 20px 20px;
  min-width: 100%;
  outline: none;
}
.form__inputs-item span.police {
  display: block;
  position: relative;
  padding-left: 30px;
}
.form__inputs-item span.police:before {
  content: '';
  width: 20px;
  height: 20px;
  background: url(../img/icons/ok.svg) no-repeat center;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.form__inputs .main-btn {
  margin: 30px auto 0px auto;
  min-width: 100%;
}
.form__adv-item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 1.75em;
  color: #fff;
}
.form__adv-item img {
  max-width: 60px;
  margin-right: 20px;
}
@media (max-width: 728px) {
  .container {
    max-width: 100%;
    padding: 0px 10px;
  }
  .main-btn {
    width: 100%;
  }
  h3 {
    font-size: 28px;
    max-width: 300px;
    margin: 0px auto;
  }
  .header__wrapper {
    padding: 10px 0px;
  }
  .header__logo svg {
    max-width: 40px;
    margin-right: 10px;
  }
  .header__logo span {
    font-size: 1.5em;
  }
  .menu {
    width: 80%;
    padding: 200px 50px;
  }
  .menu ul li a {
    font-size: 1em;
  }
  .menu-show {
    transform: translateX(0%);
  }
  .main {
    min-height: 950px;
    background-image: url(../img/banner-overlay.png), url(../img/main-bg.png);
    background-repeat: no-repeat, no-repeat;
    background-size: contain, cover;
    background-position: bottom, center;
  }
  .main__wrapper {
    padding-top: 150px;
  }
  .main__wrapper h1 {
    font-size: 2.5em;
    max-width: 350px;
  }
  .main__wrapper h2 {
    font-size: 1.75em;
  }
  .calc {
    max-width: 100%;
    padding: 30px;
  }
  .calc h4 {
    font-size: 1.75em;
  }
  .calc h5 {
    font-size: 1.25em;
    margin-bottom: 10px;
  }
  .calc ul.calc_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
    padding-bottom: 30px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
  }
  .calc ul.calc_nav li {
    margin-right: 20px;
  }
  .calc ul.calc_nav::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .manual {
    padding: 60px 0px;
  }
  .manual__wrapper {
    flex-direction: column;
    padding: 50px 0px 0px 0px;
    max-width: none;
  }
  .manual__item {
    margin-bottom: 90px;
  }
  .manual__item .manual__header {
    font-size: 1.125em;
  }
  .manual__item:nth-child(2):before,
  .manual__item:nth-child(2)::after {
    content: '';
    width: 150px;
    height: 80px;
    background: url(../img/icons/arrow_manual.png) no-repeat center;
    position: absolute;
  }
  .manual__item:nth-child(2):before {
    top: -90px;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
  }
  .manual__item:nth-child(2):after {
    top: 100%;
    right: 50%;
    transform: translateX(50%) rotate(90deg) scale(1, -1);
  }
  .manual__item:nth-child(3) {
    margin-bottom: none;
  }
  .table {
    padding: 60px 0px;
  }
  .table__wrapper {
    max-width: none;
  }
  .table__row {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding: 20px 10px;
  }
  .table__head:nth-child(3) {
    display: none;
  }
  .table__row:nth-child(1) span {
    font-size: 1.125em;
    border-right: none;
  }
  .table__row:nth-child(1) span:nth-child(4) {
    border-right: none;
  }
  .table__item:nth-child(1) {
    grid-row-start: 1;
    grid-column-start: 1;
  }
  .table__item:nth-child(2) {
    grid-row-start: 1;
    grid-column-start: 2;
  }
  .table__item:nth-child(4) {
    grid-row-start: 1;
    grid-column-start: 3;
  }
  .table__process {
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
  }
  .table__process-text {
    font-size: 0.875em;
    margin-bottom: 10px;
  }
  .adv {
    padding: 60px 0px;
  }
  .adv__wrapper {
    padding: 30px 0px;
    max-width: none;
    grid-row-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
  }
  .adv__item {
    justify-content: flex-start;
  }
  .adv__item span.big {
    font-size: 1.75em;
    text-align: center;
  }
  .adv__item span.small {
    text-align: center;
  }
  .footer__wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .form__main {
    padding: 150px 0px;
  }
  .form__main h3 {
    max-width: 320px;
    margin: 0px auto 50px auto;
  }
  .form__wrapper form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  .form__inputs {
    padding: 30px;
    border-radius: 20px;
    min-width: none;
  }
  .form__adv-item {
    padding: 0px 20px;
    font-size: 1.125em;
  }
  .form__adv-item img {
    max-width: 40px;
  }
}
